@import compass

//
// Colors
//

$aka: #ED0404
$midori: #028E8E

//
// Mix-in
//

@mixin block-center
  margin:
    left: auto
    right: auto

@mixin midori-button
  color: white
  background-color: $midori
  border: none
    width: 100%
    height: 100%
  font:
    size: 20px
    weight: bold
  &:hover
    background-color: #2F6F2F

@mixin header-bottom-line
  @include box-shadow(rgba(0,0,0,0.1) 0 2px 0)
  border-bottom: 1px solid rgba(0,0,0,0.2)

@mixin login-button($color)
  width: 100%
  height: 100%
  color: $aka
  text-decoration: none
  font:
    weight: bold
    size: 30px
    family: Verdana, Arial, sans-serif
  background-color: adjust-lightness($color, -10%)
  &:hover
    background-color: $color

body
  font-family: 'ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro','メイリオ',Meiryo,'ＭＳ Ｐゴシック',sans-serif
  background:
    image: url("/images/skin_side_up.png")
  margin-top: 0px

p
  margin: 0
  padding: 0

h1, h3
  text-align: center

h3
  color: #028E8E

div#main
  @include block-center
  width: 80%
  padding: 10px
  @include background-image(linear-gradient(lighten(#F7F7F7, 50%), #F7F7F7))
  @include single-box-shadow

div#header
  @include header-bottom-line
  padding-bottom: 10px
  width: 100%
  div#title
    color: gray
    font:
      weight: bold
      size: 15px
      family: Verdana, Arial, sans-serif
    div#left
      @include float-left
      span#title
        padding: 3px
        background-color: $aka
        a
          color: white
          text-decoration: none
    div#right
      @include clearfix
      text-align: right
      a
        color: $midori
      a#logout
        color: gray

  div#info
    @include single-text-shadow
    text-align: center
    h1
      margin-bottom: 0
    p
      font:
        size: 15px
        weight: bold

div#content
  width: 100%
  padding: 5px

div#translations
  padding-top: 10px

div.translation
  margin-bottom: 5px
  span.translated_title
    a
      color: #632D00
      font:
        weight: bold
        size: 15px
      text-decoration: none
      @include single-text-shadow
  span.translator, span.original_title, span.detail
    font-size: 10px
  span.original_title
    color: #ED6D04
  span.detail
    a
      color: #235353

//
// Login Selecting
//

div#login_select
  text-align: center
  width: 80%
  height: 80px
  @include block-center

div#github, div#twitter
  width: 50%
  height: 100%

div#github
  @include float-left
  input
    @include login-button(#CEF9CE)
    @include border-left-radius(10px)

div#twitter
  @include clearfix
  input
    @include login-button(#CBF5F5)
    @include border-right-radius(10px)

//
// Form
//
div#form
  padding: 20px
  text-align: center
  table
    padding-top: 10px
    text-align: left
    width: 90%
    @include block-center
    tr
      width: 100%
    td.label
      width: 15%
    label
      font-size: 10px
    input, textarea
      border: 1px solid rgba(0,0,0,0.1)
      width: 100%
    textarea#headline_title
      color: $aka
      font:
        size: 20px
        weight: bold
    input#headline_url
      font:
        size: 10px
      height: 15px
      color: gray
    textarea#translation
      font:
        size: 20px
        weight: bold
      height: 25px
    input:focus, textarea:focus
      @include single-box-shadow
  p
    padding-top: 20px
  input.button
    @include midori-button
    padding: 5px 40px
div#bookmarklet
  @include single-box-shadow
  @include block-center
  width: 80%
  p#bookmarklet_link
    text-align: center
    a
      padding: 20px
      font:
        size: 20px
        weight: bold
      color: $aka
  p, h4
    padding: 5px
    text-align: left

div#errors
  border: 1px solid $aka
  p
    padding: 0

//
// Profile
//
div#profile_header
  @include header-bottom-line
  padding:
    top: 10px
    bottom: 10px

table#profile
  width: 100%
  text-align: center
  font-weight: bold
  margin-bottom: 5px
  td#profile_name
    @include single-text-shadow
    color: #003C3C
    width: 60%
    text-align: center
    font-size: 23px
  td#translation_num
    color: white
    background-color: $midori
    width: 20%
    p#title
      padding-top: 3px
      font-size: 15px
    p#num
      font-size: 30px
  td#post
    padding: 0
    input
      @include midori-button
      color: yellow
      padding: 0
      width: 100%
      height: 100%
