@import compass

body
  background-color: #EEE
  font-family: 'ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro','メイリオ',Meiryo,'ＭＳ Ｐゴシック',sans-serif

div#main
  background-color: #FFFAF2
  margin:
    left: 5px
    right: 5px

div#header
  p
    color: black
    font:
      weight: bold
      size: 13px
      family: Verdana, Arial, sans-serif
    background-color: #62CDB8
    border-bottom: 2px solid #F37485
    padding-left: 2px
  h1
    color: #0F6554
    text:
      align: center
      shadow: -1px 1px 0 rgba(255,255,255,1)
