!!!XML
!!!
%html
  %head
    %meta{'http-equiv' => 'content', :content => 'text/html; charset=utf-8'}
    =stylesheet_link_tag 'top'
    %title 鯛虎 | Web Title Translation
  %body
    #main
      #header
        #title
          #left
            %span#title 鯛虎
            %span Web Title Translation
          #right
            - if logged_in?
              %span= link_to 'logout', url_for(:auth, :logout)
            - else
              %span= link_to 'login', url_for(:auth, :login)
        - unless logged_in?
          #info
            %h1 海外WEB記事の要約を共有しよう！
      #content= yield
